.posts-wrapper.row
  -@posts.each do |post|
    .post
      .post-head
        .name
          Benjamin Albritton
      .image.center-block
        =link_to (image_tag post.iiifimageurl, height: '150', class:'img-responsive'), post_path(post)
      %p.caption
        =post.caption